/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* .flex-container {
    display: flex;
    justify-content: center;

} */

.Heading {
    width: 500px;
    height: 350px;
    margin: 100px;
    background-color: #FFD078;
    color: black;
    margin: 0 auto;
    /* border-radius: 5px; */
    box-shadow: 0px 0px 5px 5px #b8babe;
}

hr {
    padding: 1px;
    width: 85%;
    background-color: #757981;
}

.Headingp {
    margin: 0 auto;
    background-color: #ffffff;
    width: 320px;
    height: 230px;
    box-shadow: 0px 0px 4px 4px #b8babe;
    margin-right: 0 auto;
}

p.left {
    text-align: left;
    padding-left: 0.3em;
}

.container {
    background-color: #FFD078;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.txt1 {
    text-align: left;
    padding-left: 0.3em;
}

.txt2 {
    text-align: center;
}

.txt3 {
    text-align: right;
    padding-right: 0.3em;
}

.bai4_a {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 5px 5px #b8babe;
    margin: 0 auto;
}

.bai4_b {
    background-color: #FFD078;
    box-shadow: 0px 0px 5px 5px #b8babe;
    width: 250px;
    height: 550px;
    margin: 0 auto;
}

.bai4_b li {
    margin: 0 auto;
}

.bai5 {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #b8babe;
    width: 400px;
    height: 650px;
    margin: 0 auto;
    padding-left: 0.3em;
}

.bai5_b {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #b8babe;
    width: 420px;
    height: 520px;
    margin: 0 auto;
    padding-left: 0.3em;
}

.bai5_b a {
    color: blue
}



.bai6__b a {
    color: rgb(125, 0, 0);
}

.bai6 {
    margin: 0 auto;
}

.bai6b__2 {
    margin-left: 45%;
}

.bai6b__3 {
    margin-left: 45%;
}

.bai6_c {
    background-color: #ffd078;
    width: 40%;
    margin: 50px auto;
}

.bai6_c table {
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

.bai6_c th {
    background-color: #ffa0ff;
    width: inherit;
}

.bai6_c tr>td:first-child {
    background-color: #aaddff;
}

.bai6_c td {
    background-color: #ffddff;
}

caption {
    color: #d000d0;
    font-weight: 700;
}

.bai7 {
    width: 100%;
}

.bai7 li {
    list-style-type: none;
}

.bai7 ul {
    padding: 0;
}

.item_smile {
    margin: 10px;
}

.item_smile img {
    width: 70px;
}

.bai7 hr {
    width: 98%;
    background-color: #ccc;
}

.bai9 {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.tb_a {
    display: inline-block;
}

.tb_b {
    display: inline-block;
}

.bai9 th {
    background-color: #90ffff;
}

.bai9 td {
    background-color: #ffff98;
}

.bai10 {
    width: 50%;
    margin: 50px auto;
    background-color: #dce3f1;
}

.bai10 summary {
    margin: 10px;
}

.bai11 {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.bai11 img {
    width: 55%;
}

.bai11 a {
    color: blue;
}

.bai12 {
    width: 40%;
    margin: 50px auto;
    padding: 10px;
}

.bai12 h4 {
    margin: 0;
}

btn-submit {
    display: block;
    margin: 15px 0;
}



.bai13 {
    width: 40%;
    padding: 0 5px;
    margin: 0 auto;
    background-color: #aaddff;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.bai13 p {
    margin-bottom: 0;
}

.bai14 {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.bai14 textarea {
    display: inline-block;
}

.btn-send {
    display: block;
    padding: 0;
}

#your-email {
    margin-bottom: 2px;
    margin-right: 30px;
}

.b14_mess {
    top: 50px;
    left: 50px;
}

.ms4 {
    margin-left: 15px;
}

.bai15 {
    padding: 10px;
    margin: 50px auto;
    width: 500px;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.bai15_b {
    width: 500px;
    box-shadow: 0px 0px 5px 5px #b8babe;
    margin: 0 auto;
    margin-bottom: 50px;
}

.bai16 {
    padding: 10px;
    width: 450px;
    box-shadow: 0px 0px 5px 5px #b8babe;
    margin: 0 auto;
}

.bai17_a {
    margin: 50px auto;
    background-color: #FFD078;
    border-radius: 5px;
    position: relative;
    padding-bottom: 30px;
    width: 700px;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.sm {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 40%;
}

.sm-1 {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 55%;
}

.bai17_b {
    width: 450px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.bai17_b option {
    display: inline-block;
    padding: 0 100px;

}

.bai17_b h3 {
    display: inline-block;
}


.bai18 {
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px #b8babe;
}

.bai19 {

    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.bai20 {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}